h1 {color:blue;}
#id1 {background-color: pink;}
.class1 {color:rgb(228, 240, 63)}
a {background-color: beige;}
.class2.class3 {background-color: blanchedalmond;} 
.class2 p {background-color: azure;}
/* .class1 {background-image: url("50e7d2444f4faa0df7c5d57bc32f3e7b1d3ac3e45659764f7d2e7bd094_640.jpg")}
background-repeat: no-repeat */
/* procvicit no repaet background */
#id1 {border-style: solid; border-width: 3px;border-color: black;}
.class5 {border: 3px solid black}
/* to same, jenom to druhy je kratsi */
.class6 {border: 5px solidblack;
        background-color:blueviolet;
        padding-top:100px;padding-left:500px;padding-right:150px;padding-bottom:100px;
        margin-top: 100;margin-bottom:100px;margin-left:80px;margin-right:150px;}
/* zkraceny zpusob */
.class3 {margin: 100px 150px 100px 200px;}
a:link{color: brown;}
a:hover{color: blue;}
a:visited{color: green;}
a:active{color: hotpink;}
