h1 {color:rgb(162, 139, 180);}
#id1 {background-color: pink;}
.class1 {color:rgb(228, 240, 63)}
a {background-color: beige;}
/* nechceme u odkazu podrtrzeni*/
a {text-decoration: none}
.class2.class3 {background-color: blanchedalmond;} 
.class2 p {background-color: azure;}
/* .class1 {background-image: url("50e7d2444f4faa0df7c5d57bc32f3e7b1d3ac3e45659764f7d2e7bd094_640.jpg")}
background-repeat: no-repeat */
/* procvicit no repaet background */
#id1 {border-style: solid; border-width: 3px;border-color: black;}
.class5 {border: 3px solid black}
/* to same, jenom to druhy je kratsi */
.class6 {border: 5px solidblack;
        background-color:rgb(210, 180, 238);
        padding-top:100px;padding-left:500px;padding-right:150px;padding-bottom:100px;
        margin-top: 100;margin-bottom:100px;margin-left:80px;margin-right:150px;}
/* zkraceny zpusob */
.class3 {margin: 100px 150px 100px 200px;}
a:link{color: brown;}
a:hover{color: blue;}
a:visited{color: green;}
a:active{color: hotpink;}
/*odstranime odrazky a pridame misto uvnitr*/
ul {list-style-type: none;margin:0;padding:0}
li {display: inline;}
li {margin: 10px 10px 10px 10px;}
li {padding: 10px 10px 10px 10px;}
li {border: 2px solid black;}
a  {display: block;}
/* inline elementum se neda nastavit margin a padding*/
.prvniclass {margin-bottom: 100px;}
#id2 {background-color: bisque;width:20%;height:200px;overflow: hidden;}
/*vlastnost float*/
.box {border: 1px solid black;width: 20%;float: left;}

